.loader{
  position: fixed;
  background: var(--background-color-primary);
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: .2s;
  z-index: 99;
  & span{
    width: 150px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    --animation-speed: 3s;
    animation: spin var(--animation-speed) linear 0s infinite;
    
    border-top: 4px solid var(--theme-color);
    border-bottom: 4px solid var(--theme-color);
    border-left: 4px solid var(--background-color-primary);
    border-right: 4px solid var(--background-color-primary);
    
    & img{
      width: 50%;
      height: auto;
      animation: spin var(--animation-speed) linear 0s infinite reverse;
    }
  }

  &.loader{
    opacity: 0;
    z-index: -1;
    pointer-events: none;
  }
}
@keyframes spin {
  0%{ transform: rotate(0deg); }
  100%{ transform: rotate(360deg); }
}