@use 'swiper/css';
@use 'swiper/css/pagination';
@use 'swiper/css/navigation';
@use 'swiper/css/effect-fade';

.swiper-arrow{
  height: unset;
  width: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  background: var(--background-color-primary);
  box-shadow: 0 4px 14px 1px rgba(#000, .16);

  transition: .3s;
  cursor: pointer;
  &::after{
    content: '';
    position: absolute;
    inset: 0;

    background: var(--theme-color);
    mask-image: url('/svg/slider-arrow.svg');
    mask-repeat: no-repeat;
    mask-position: 52% center;
    mask-size: 10px auto;

    pointer-events: none;
  }
  & svg{ display: none; }

  &:hover{
    background: var(--theme-color);
    &::after{ background: var(--text-color-alternative); }
  }
}
.swiper-pagination{
  display: flex;
  justify-content: center;
  width: fit-content !important;
  gap: 28px;
  &-bullet{
    position: relative;

    opacity: 1 !important;
    margin: 0 !important;

    width: 11px;
    height: auto;
    aspect-ratio: 1 / 1;

    background: #D8D8D8;

    transition: .3s;
    cursor: pointer;

    &::after{
      content: '';
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);

      width: 225%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: 1px solid #D8D8D8;

      pointer-events: none;
      transition: inherit;
    }
    &-active{
      background: var(--theme-color);
      &::after{ border-color: var(--theme-color); }
    }
    &:not(.swiper-pagination-bullet-active)::after{ opacity: 0; }
  }
}